html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* app  */

/* main navbar styles  */
.main-nav {
  height: 100px;
  top: 0;
  /* background-color: #4169e1; */
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

.main-nav h1 {
  margin: 10px 0 0;
  font-size: 2em;
}

.main-nav p {
  margin: 0 0 10px;
  font-style: italic;
}

/* Category navigation styles  */
.category-nav {
  background-color: #303030;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100vw;
}

.badge {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 50px;
  background-color: #6a9ae2;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.badge:hover {
  background-color: #4169e1;
}

.content {
  padding-top: 20px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
}

.card,
.card-back {
  background-color: #4169e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  height: 200px;
  width: 200px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
}

.card-back {
  background-color: #b322a3;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background-color: #6a9ae2;
  cursor: pointer;
}

.categoryButton {
  padding: 10px;
  margin-right: 5px;
  background-color: #6a9ae2;
}

.categoryButton:hover {
  transform: scale(1.1);
  background-color: #4169e1;
}

@media (max-width: 600px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
  .buttonContainer {
    grid-template-columns: 1fr;
  }
}
